
#quote-box {
  background-color: white;
  position: fixed;
  max-width: 35%;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border:1px solid lightgray;
}

#text {
  padding: 10px 10px 10px 30px;
  font-size: 25px;
}

#author {
  padding-right: 20px;
  text-align: right;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

#tweet-quote {
  padding-left: 20px;
}

#new-quote{
  font-weight: bold;
  color: white;
  border-radius: 7px;
  padding: 5px 5px;
  margin-right: 10px;
  border: 0;
}



